{
    "arch": [   
    {
        "name": "L1",
        "cache-size": 1024,
        "block-size": 8,
        "set-associativity": 2,
        "hit-latency": 5,
        "bus-latency": 3
    },
    {
        "name": "L2",
        "cache-size": 16384,
        "block-size": 8,
        "set-associativity": 8,
        "hit-latency": 20,
        "bus-latency": 6
    }
    ],
    "memory-latency": 100,
    "replacement": "LRU",
    "write-hit": "WB",
    "write-miss": "WA"
}
