{
    "arch": [   
    {
        "name": "L1",
        "cache-size": 32768,
        "block-size": 64,
        "set-associativity": 8,
        "bus-latency": 0,
        "hit-latency": 4,
        "replacement": "LRU",
        "prefetching": "Miss",
        "access-latency": 4,
        "bypass": true
    },
    {
        "name": "L2",
        "cache-size": 262144,
        "block-size": 64,
        "set-associativity": 8,
        "bus-latency": 6,
        "hit-latency": 5,
        "replacement": "LRU",
        "prefetching": "Miss",
        "access-latency": 11, 
        "bypass": false
    }
    ],
    "memory-latency": 100,
    "write-hit": "WB",
    "write-miss": "WA"
}
